@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap');
*{
 padding: 0;
 margin: 0;
 scroll-behavior: smooth;
 scroll-padding-top: 3rem;
 box-sizing: border-box;
 font-family: var(--font-family-2);
}
:root{
    --poppins-font:"Poppins", serif;
    --font-family-2:"squada one",serif;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}
body{
  background-color: whitesmoke;
}
header{
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    z-index: 100;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 17px 20px;
    border-radius: 10px;
    max-width: 1060px;
    margin: auto;
    width: 100%;
    height: 7vh;
}
.logo{
    font-size: 15px;
    font-weight: 400;
    color: bisque;
    text-transform: uppercase;
    font-family: var(--font-family-2);
}
.logo span{
    color:aqua;
}
.navbar-link{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
nav a{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    color: white;
    font-family: var(--poppins-font);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav a:hover{
    color:aqua;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.icon{
    display: flex;
    align-items: center;
    gap: 20px;
    font: 20px;
    color: azure;      
}
  .icon-item {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .icon-item i {
    font-size: 24px;
    cursor: pointer;
  }
  
  .icon-item:hover i {
    color:aqua; /* Optional: Change icon color on hover */
  }
  .icon-bar{
    display: none;
    color: aliceblue;
  }
  #home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 15vh;
    background-color: whitesmoke;
  }
  .home-main{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 12vw;
  }
  .left h1{
    font-size: 6vh;
    font-weight: 800;
  }
  .left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 550px;
    height: 500px;
    padding: 30px;
  }
  .home-main .right {
    width: 550px;
    height: 350px;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(155deg, #a7ceff, #bfc9cb);
}
.right img{
  width: 110vh; 
  width: 50vw;
  filter: drop-shadow(20px 50px 25px #b3e3e3);
}
.home-main .left button{
  background-color: #0043ff8c;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}
/*pick up section*/
.booking-form {
  z-index: 1;
  background: white;
  padding: 90px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  max-width: 1360px;
  margin: auto;
  width: 100%;
  height: 15vh;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 5px;
}

input {
  padding: 15px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 230px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background: #0056b3;
}
/*inventory section*/
#car-collection{
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.titel{
  font-size: 5vh;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
#spam{
  color: rgb(196, 51, 51);
  gap: 10px;
}
.inventory{
  display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}
.inventory-box{
  overflow: hidden;
    width: 365px;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid darkgray;
}
.detail{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  row-gap: 15px;
}
.car-name{
  font-size: 23px;
    font-weight: 700;
}
.review{
  display: flex;
  column-gap: 5px;
}
.review i{
  color: orange;
}
.review p{
  color: darkgray;
}
.price{
  display: flex;
  border-top: 1px solid darkgray;
  padding-top: 20px;
  align-items: center;
}
.price p{
  font-size: 20px;
  font-weight: 700;
  width: 20vw;
}
.price button{
  border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #0043ff8c;
    height: 35px;
    width: 8vw;
}
.support-sec {
  display: flex;
  justify-content: center; 
  flex-direction: column;
  padding: 80px;
  background-color: whitesmoke;
}

.support-sec .txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.support-sec .txt .txt1 {
  font-size: 3rem;
  font-weight: 700;
}

.support-sec .txt .txt1 span {
  color: #0043ff8c;
}

.support-sec .main-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  column-gap: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.support-sec .main-sec .box {
  /* background: red; */
  padding: 20px;
  width: 575px;
  display: flex;
  column-gap: 36px;
  /* flex-direction: column; */
  row-gap: 20px;
}

.support-sec .main-sec .box i {
  font-size: 30px;
  background: #0043ff8c;
  width: fit-content;
  padding: 34px;
  border-radius: 15px;
}

.support-sec .main-sec .box .txt-sec {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.support-sec .main-sec .box .txt-sec .txt1 {
  font-size: 30px;
  font-weight: 700;
}